<div class="container relative z-50 grid h-24 grid-cols-3 px-6 mx-auto">

    <div x-data="{showMenu: false}" class="flex items-center">
        <!-- menu button -->
        <button x-on:click="showMenu = true">
            <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>

        <div x-show="showMenu" class="fixed inset-0 z-50 w-full h-full text-black bg-white">
            <div class="container relative z-10 flex flex-col items-center justify-center h-full px-6 py-8 mx-auto space-y-6 text-2xl font-bold tracking-widest uppercase">
                <button x-on:click="showMenu = false" class="absolute top-0 left-0 mt-8 ml-6">
                    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                </button>            
                {% if navigation.items %}
                    {% for item in navigation.items %}
                        <a href="{{ item.url }}" class="inline-block border-b-4 border-transparent hover:border-black">{{ item.text }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="absolute inset-0 w-full h-full bg-yellow-900 bg-opacity-20"></div>
        </div>
    </div>

    <div class="flex items-center justify-center">
        <a href="/" class="text-2xl font-bold tracking-widest text-white uppercase">
            <!-- logo -->
            {% if settings.logo %}
                <img src="{{ settings.logo }}" class="object-contain object-center w-64 h-20" />
            {% else %}
                {{ settings.site_name }}
            {% endif %}
        </a>
    </div>

    
</div>

<div class="absolute top-0 left-0 w-full h-24 bg-yellow-900 bg-opacity-95"></div>